.home {
  width: 100%;
  background-color: #f9e0e2;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 100px;

  // JUMBOTRON

  .jumbotron {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    gap: 45px;

    &Content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 36px;
      h2 {
        color: #e23125;
        font-family: "Lora", sans-serif;
        font-size: 78px;
        font-weight: 700;
        max-width: 860px;
        line-height: 78px;
      }

      p {
        color: #e23125;
        font-size: 16px;
        line-height: 24px;
      }
    }

    &Image {
      max-width: 100%;
    }
  }

  // ABOUT

  .about,
  .services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    flex-direction: row;

    &Content {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      color: #e23125;
      gap: 35px;
      flex-basis: 50%;

      h4 {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 8px;
        text-align: left;
        text-transform: uppercase;
      }
      h3 {
        font-size: 58px;
        line-height: 60px;
        font-family: "Lora", sans-serif;
        letter-spacing: -2px;
      }
      p {
        font-size: 16px;
        line-height: 24px;
      }
    }

    &Button {
      background-color: transparent;
      border: 2px solid #e23125;
      color: #e23125;

      &:hover {
        background-color: #e23125;
        color: white;
        transition: all 0.4s ease-in-out;
      }
    }
  }

  .services {
    &Cards {
      display: flex;
      justify-content: center;
      align-items: stretch;
      flex-wrap: wrap;
      flex-direction: row;

      width: 100%;
      flex-basis: 55%;
      max-width: 720px;

      .servicecard {
        width: 50%;
      }
    }
  }

  .getInspired {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    text-align: center;

    max-width: 1400px;
    &Content {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      color: #e23125;
      gap: 35px;

      h4 {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 8px;
        text-align: left;
        text-transform: uppercase;
      }
      h3 {
        font-size: 58px;
        line-height: 60px;
        font-family: "Lora", sans-serif;
        letter-spacing: -2px;
      }
      p {
        font-size: 16px;
        line-height: 24px;
        max-width: 50%;
      }
    }

    &Cards {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
    }
  }

  .testimonials {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #e23125;

    &Heading {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      gap: 10px;

      h4 {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 8px;
        text-align: left;
        text-transform: uppercase;
      }
      h3 {
        font-size: 58px;
        line-height: 60px;
        font-family: "Lora", sans-serif;
        letter-spacing: -2px;
      }
    }

    &Content {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      gap: 50px;
      position: relative;

      &:hover {
        &::after {
          height: 50%;
        }
      }

      &:after {
        content: "";
        display: block;
        width: 5px;
        height: 5px;
        background-color: #e23125;

        position: absolute;
        left: -20px;
        top: 0;
        transition: all 400ms ease-in-out;
      }

      &Author {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
      }
    }
  }
}
